<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="/main.css" rel="stylesheet" type="text/css">
    <title>All Books</title>
  </head>
  <body>

    <div class="all-books">
          <% for (var i = 0; i < books.length; i++) { %>
            <form class="new-book-form" action="/single-book/" method="get">
              <div class="form-group">
                <span><%= books[i].title %> : </span> <span><%= books[i].comments.length%> Comments</span><br>
                <input class="form-control issue" type="hidden" name="id" value="<%= books[i].id %>" required>
              </div>
              <button type="submit" type="button" class="btn btn-info single-btn">Get Book</button>
            </form>
            <% } %>
      </div>
    <a href="/" class="a_border"><button type="button" class="btn btn-secondary back-btn">&#x25C0; Back</button></a>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>

  </body>

</html>
