<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link href="/main.css" rel="stylesheet" type="text/css">
    <title>All Books</title>
  </head>
  <body>
    <div class="container">
      <h3 class="title"><u>List of Books</u></h3>
      <div class="all-books">
        <% for (var i = 0; i < books.length; i++) { %>
          <form class="all-book-form" action="/single-book/" method="get">
            <div class="form-group hidden-book">
              <b><span><%= books[i].title %> : </span></b> <span class "hidden-book"><%= books[i].comments.length%> Comments</span><br>
              <input class="form-control" type="hidden" name="id" value="<%= books[i].id %>" required>
            </div>
            <button type="submit" type="button" class="btn btn-info get-single-btn">Get Book</button>
          </form>
          <% } %>
      </div>
      <a href="/" class="a_border"><button type="button" class="btn btn-secondary back-btn">&#x25C0; Back</button></a>
      <button type="button" class="btn btn-danger delete-all-btn">Delete All Books</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

  </body>

</html>
