<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="/main.css" rel="stylesheet" type="text/css">
    <title>Homepage</title>
  </head>
  <body>
    <div class="container">
      <h3>Your personal Library</h3>
      <div class="complete-form">
        <h5>Add a book to your library.</h3>
        <form class="new-book-form" action="/new/book/" method="post">
          <div class="form-group">
            <label for="book-title"> Title:</label>
            <input class="form-control issue" id="book-title" type="text" name="title" placeholder="Add Book*" required>
          </div>
          <button type="submit" class="btn btn-primary">Add Book</button>
        </form>
      </div>

      <div class="book-retrieval">
        <form id="new-book-form" action="/get-book/" method="get">
          <div class="form-group">
            <label for="single-title"> Get a book:</label>
            <input class="form-control issue" id="single-title" type="text" name="id" placeholder="Book ID*" required>
          </div>
          <button type="submit" type="button" class="btn btn-secondary single-btn">Get Book</button>
        </form>
        <button type="button" class="btn btn-secondary multi-btn">All Books</button>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
  </body>

</html>
