body {
  background: #f46242;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 10px;
}

.add-book-form {
  width: 50%;
  float: left;
  padding-right: 10px;
}

.book-retrieval {
  width: 50%;
  float: right;
  padding-left: 10px;
}

.book-left {
  width: 50%;
  float: left;
  padding-right: 10px;
}

.book-right {
  width: 50%;
  float: right;
  padding-left: 10px;
}

.comment-section {
  width: 100%;
  border-color: white;
  border-width: 1px;
  border-style: groove;
  margin-bottom: 5px;
}

.get-single-btn {
  height: 20px;
  line-height: 40%;
  margin-bottom: 5px;
}

.all-book-form {
  width: 40%;
  border-color: white;
  border-width: 1px;
  border-style: groove;
  padding-left: 10px;
}

.hidden-book {
  margin: 0 0 0 0
}